body{
    padding-top: 50px;
}
.row{
    margin-bottom: 10px;
    margin-top:5px;
   }
.col-sm-2{
    text-align: center;
}
.logo{
    height:100px;
    width:100px;
    opacity: 1;
    transition: .5s ease;
}

a:hover .logo {
    opacity: 0.8;
    height:95px;
    width:95px;
}

.logoanim{
    height:100px;
    width:100px;
    position: relative;
    animation: mymove 1.5s infinite, entry 1s;
    animation-timing-function: linear;
    transition: .5s ease;
}

a:hover .logoanim {
    opacity: 0.8;
    height:120px;
    width:120px;
    animation: none;
}

@keyframes mymove {
    0%{height: 100px; width: 100px;}
    50%{height: 97px; width:97px;}
    100%{height: 100px; width: 100px;}
}
@keyframes entry{
    0%{opacity:0.0;}
    50%{opacity: 0.2;}
}

.middle1{
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 35px;
    top: 100px; 
    width:100%;
    padding-bottom: 55px;
}
.matter{
    color:white;
    text-align: center;
    margin-bottom: 15px;
}
